@use "../../global_styles/colors/colors.scss" as *;
@use "../../global_styles/mixins/mixins.scss" as *;

.hero-section {
  width: 100vw;
  background-color: $main-bg-2;
  padding: {
    left: 50px;
    right: 50px;
  };
  @media screen and (max-width: 690px) {
    padding: {
      left: 10px;
      right: 10px;
    };
  }
  &__content {
    padding-top: 100px;
    padding-bottom: 50px;
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    &__header {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 7rem;
      align-items: center;
      @media screen and (max-width: 960px) {
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        row-gap: 10px;
      }
      & span {
        @include font(1rem, 800);
        color: $second-text;
        max-width: 400px;
        line-height: 15px;
        @media screen and (max-width: 1080px) {
          font-size: .9rem;
        }
        @media screen and (max-width: 960px) {
          max-width: 300px;
        }
      }
      & button {
        @include font(1em, 700);
        color: $main-text;
        background-color: $pale-yellow;
        padding: 5px 10px;
        border-radius: 5px;
        cursor: pointer;
        @media screen and (max-width: 1080px) {
          font-size: .8rem;
        }
        @media screen and (max-width: 960px) {
          width: 100%;
        }
      }
      &__links {
        display: flex;
        align-items: center;
        column-gap: 30px;
        @media screen and (max-width: 960px) {
          flex-direction: column;
        }
        &__order {
          @include font(2em, 800);
          padding: 5px 20px;
          background-color: $main-text;
          color: $white;
          border-radius: 5px;
          @media screen and (max-width: 1080px) {
            padding: 5px 10px;
            font-size: 1rem;
          }
          @media screen and (max-width: 960px) {
            width: 100%;
          }
        }
        &__relations {
          @include font(2em, 800);
          display: flex;
          column-gap: 10px;
          color: $second-text;
          align-items: center;
          @media screen and (max-width: 1080px) {
            font-size: 1rem;
          }
          & svg {
            width: 50px;
            height: 50px;
            @media screen and (max-width: 1080px) {
              width: 30px;
              height: 30px;
            }
          }
        }
      }
    }
    &__company-name {
      text-align: center;
      & h1 {
        @include font(7rem, 800);
        color: $main-text-2;
        letter-spacing: 4px;
        @media screen and (max-width: 1080px) {
          font-size: 3rem;
          letter-spacing: 2px;
        }
        @media screen and (max-width: 690px) {
          font-size: 2rem;
        }
      }
      & span {
        @include font(4rem, 800);
        color: $second-text;
        letter-spacing: -5px;
        @media screen and (max-width: 1080px) {
          font-size: 2rem;
          letter-spacing: 2px;
        }
        & strong {
          background-color: $pale-yellow;
          color: $main-text-2;
        }
      }
    }
    &__points {
      width: 100%;
      display: flex;
      justify-content: center;
      column-gap: 3rem;
      @media screen and (max-width: 1000px) {
        display: none;
      }
      & span {
        @include font(.7em, 100);
        color: $main-text-2;
      }
      & h2 {
        @include font(1em, 800);
        color: $main-text;
      }
    }
  }
}