@use "../../global_styles/colors/colors.scss" as *;
@use "../../global_styles/mixins/mixins.scss" as *;

.footer {
  width: 100%;
  min-height: 480px;
  background-color: $card;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5rem;
  padding: {
    left: 50px;
    right: 50px;
  };
  &__copyright {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: 2rem;
  }
  &__content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 2rem;
    border-bottom: solid 1px #48628470;
    &__target {
      display: flex;
      flex-direction: column;
      row-gap: 20px;
      &__logotype {
        color: $main-text;
        @include font(32px, 600);
      }
      &__text {
        max-width: 300px;
        color: $main-text;
        @include font(16px, 400);
      }
      &__contacts {
        display: flex;
        column-gap: 30px;
        &__contact {
          background-color: $white;
          padding: 7px;
          border-radius: 50%;
        }
      }
    }
    &__meta {
      display: flex;
      column-gap: 3rem;
    }
  }
}

.footer__content__template {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  &__title {
    @include font(20px, 400);
    color: $main-text;
  }
  & ul {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
}