.series-page {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  width: 100vw;
  &__wrapper {
    max-width: 1900px;
    width: 100%;
    padding: {
      left: 30px;
      right: 30px;
    };
  }
}