@use "../../global_styles/colors/colors.scss" as *;
@use "../../global_styles/mixins/mixins.scss" as *;

.link-decor-card {
  display: block;
  height: 350px;
  min-width: calc(100% / 2);
  text-decoration: none;
  transition: transform 0.2s ease;
}

.decor-card {
  background-color: $main-bg-2;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  transition: all 0.2s ease;

  &:hover {
    background-color: $main-text;
    .decor-card__content h3, p {
      color: $white;
    }
    .decor-card__image {
      &__wrapper {
        width: 300px;
      }
    }
  }

  &__image {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: relative;
    background: transparent;

    span {
      position: absolute;
      left: 0;
      top: 50px;
      transform: rotate(-90deg);
      background-color: $main-text-2;
      color: $main-bg-2;
      padding: 6px 20px;
      @include font(12px, 800);
      z-index: 2;
    }

    &__wrapper {
      transition: all 0.3s ease;
      width: 260px;
      height: 180px;
      border-radius: 20px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.3s ease;
      }
    }
  }

  &__content {
    margin-top: 24px;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    h3 {
      @include font(2rem, 800);
      color: $main-text-2;
    }
    & p {
      @include font(1rem, 800);
      color: $second-text;
    }
  }
}