@use "../../global_styles/colors/colors.scss" as *;
@use "../../global_styles/mixins/mixins.scss" as *;

.reviews {
  min-height: 500px;
  width: 100vw;
  background-color: $main-text-2;
  display: flex;
  justify-content: center;
  &__content {
    padding: {
      top: 4rem;
      bottom: 4rem;
    };
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    &__header {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;
      & span {
        @include font(1rem, 800);
        color: $pale-white;
      }
    }
    &__item {
      width: 100%;
      display: flex;
      justify-content: space-between;
      border-bottom: dashed 1px rgba($white, 0.2);
      align-items: center;
      padding: {
        top: 20px;
        bottom: 20px;
      };
      @media screen and (max-width: 768px) {
        padding: {
          top: 10px;
          bottom: 10px;
        };
      }
      &_meta {
        display: flex;
        align-items: center;
        column-gap: 20px;
        @media screen and (max-width: 768px) {
          column-gap: 5px;
        }
      }
      &__userreview {
        @media screen and (max-width: 768px) {
          max-width: 300px;
        }
        & p {
          @include font(1rem, 800);
          color: $pale-white;
          @media screen and (max-width: 768px) {
            font-size: .8rem;
          }
        }
        & span {
          @include font(.7rem, 800);
          color: $second-text;
          @media screen and (max-width: 768px) {
            font-weight: 400;
          }
        }
      }
      &__rating {
        @include font(1.5rem, 800);
        color: $pale-white;
      }
      &__user {
        width: 70px;
        height: 70px;
        background-color: rgba($white, 0.2);
        border-radius: 50%;
        display: grid;
        place-items: center;
        @media screen and (max-width: 768px) {
          width: 30px;
          height: 30px;
        }
        & svg {
          width: 70%;
          height: 70%;
        }
      }
    }
  }
  &__navigation {
    width: 100%;
    margin-top: 2rem;
    &__template {
      display: flex;
      column-gap: 20px;
      align-items: center;
      @media screen and (max-width: 768px) {
        width: 100%;
        justify-content: center;
      }
    }
    &__buttons {
      display: flex;
      column-gap: 30px;
      & button {
        padding: 10px;
        background-color: $pale-white;
        border-radius: 50%;
        cursor: pointer;
      }
      & svg {
        width: 20px;
        height: 20px;
      }
    }
  }
}

.reviews__navigation__dots {
  display: flex;
  gap: 12px;
}

.reviews__navigation__dot {
  width: 10px;
  height: 10px;
  background-color: $pale-white;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.active {
  background-color: $pale-yellow;
  width: 30px;
}