@use "../../global_styles/colors/colors.scss" as *;
@use "../../global_styles/mixins/mixins.scss" as *;


.meta-company {
  width: 100vw;
  background-color: $main-bg-2;
  display: flex;
  justify-content: center;
  padding: {
    top: 3rem;
  };
  &__content {
    width: 90%;
    border-radius: 20px;
    display: flex;
    background-color: $main-text-2;
    padding: {
      left: 20px;
      right: 20px;
      top: 3rem;
      bottom: 3rem;
    };
    @media screen and (max-width: 1000px) {
      flex-direction: column;
      row-gap: 20px;
      padding: {
        left: 10px;
        right: 10px;
        top: 2rem;
        bottom: 2rem;
      };
    }
    &__title {
      width: 50%;
      display: flex;
      flex-direction: column;
      text-align: right;
      align-items: flex-end;
      row-gap: 2rem;
      padding-right: 2rem;
      @media screen and (max-width: 1000px) {
        text-align: left;
        width: 100%;
        row-gap: 10px;
      }
      & h2 {
        @include font(2rem, 800);
        line-height: 30px;
        color: $white;
        @media screen and (max-width: 1000px) {
          text-align: left;
          width: 100%;
          font-size: 1.5rem;
        }
      }
      & p {
        @include font(1rem, 800);
        color: $pale-white;
        @media screen and (max-width: 1000px) {
          font-size: .9rem;
        }
      }
    }
    &__cards {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: 50%;
      row-gap: 1rem;
      @media screen and (max-width: 1000px) {
        align-items: center;
        row-gap: 5px;
        width: 100%;
      }
      &__card {
        width: 100%;
        padding: {
          top: 10px;
          bottom: 10px;
          left: 1rem;
          right: 1rem;
        };
        transition: all 0.3s ease;
        &:hover {
          transform: translateX(-50px) scale(1.1);
          @media screen and (max-width: 768px) {
            transform: none;
          }
        }
        @media screen and (max-width: 1000px) {
            padding: {
            top: 10px;
            bottom: 10px;
            left: 5px;
            right: 5px;
          };
        }
        background-color: $main-bg-2;
        border-radius: 20px;
        &__header {
          @include font(4rem, 800);
          color: $main-text-2;
          @media screen and (max-width: 1000px) {
            font-size: 2.3rem;
          }
        }
        &__content {
          @include font(1rem, 800);
          width: 100%;
          display: flex;
          justify-content: flex-end;
          color: $second-text;
          @media screen and (max-width: 1000px) {
            font-size: .9rem;
            text-align: right;
          }
        }
      }
    }
  }
}